/**
 * @name FZ1
 * @author Git-Idgt
 * @version 1.4
 * @description FZ1-Theme
 * @source https://github.com/Git-Idgt/FZ1_Discord_Theme/edit/main/fz.theme.css
 * @website https://github.com/Git-Idgt/FZ1_Discord_Theme/edit/main/fz.theme.css
 * @invite 7P99YTBRUu
 * @BDEditor Pyrite
*/

@import url('https://leafyluigi.github.io/discord-themes/pyrite/build/base.css');
@import url('https://leafyluigi.github.io/discord-themes/pyrite/build/better-discord.css');
@import url('https://leafyluigi.github.io/discord-themes/pyrite/build/horizontal-server-list.css');
@import url('https://leafyluigi.github.io/discord-themes/pyrite/build/horizontal-server-list-bottom.css');

:root {
  --primary-color: #FFC107;
  --secondary-color: #000000;
  --hover-color: #FFC107;
  --tooltip-color: #000000;
  --background-image: url('https://i.imgur.com/61CB8IA.jpeg');
  --background-attachment: fixed;
  --user-modal-image: url('https://leafyluigi.github.io/images/pexels-josh-sorenson-116359.png');
  --user-modal-attachment: fixed;
  --user-modal-width: 900px;
  --user-modal-height: 600px;
  --user-popout-image: url('https://leafyluigi.github.io/images/pexels-josh-sorenson-116359.png');
  --user-popout-attachment: fixed;
  --home-icon: url('https://i.imgur.com/Qz8eyu0.gif');
  --category-color: #FFC107;
  --selected-channel-color: #FF1100;
  --unread-channel-color: #26CB2D;
  --unread-channel-glow: drop-shadow(0 2px 2px);
  --read-channel-color: #FFC107;
  --muted-channel-color: 119,116,116;
  --show-channel-unread-dot: block;
  --locked-voice-channel-color: #7F7F7F;
  --green-color: #43b581;
  --yellow-color: #f9a719;
  --red-color: #ec4144;
  --live-color: #583594;
  --offline-color: #737e8c;
  --link-color: #00aef3;
  --body-font: Ink Free;
  --code-font: Ink Free;
  --hide-speed: 0.5s;
  --hide-member-list: 1;
  --hide-active-now: 1;
  --hide-profile-panel: 1;
  --hide-channel-list: 0;
  --mention-background: var(--primary-color);
  --mention-opacity: 0.5;
  --win-min-max-close-button-width: 28px;
  --card-background: rgba(0,0,0,0.5);
  --side-shading: rgba(0,0,0,0.5);
  --middle-shading: rgba(0,0,0,0.3);
  --header-shading: rgba(0,0,0,0.7);
  --hover-filter: rgba(0,0,0,0.2);
  --active-filter: rgba(0,0,0,0.4);
  --card-background: rgba(255,255,255,0.05);
  --side-shading: rgba(255,255,255,0.4);
  --middle-shading: rgba(255,255,255,0.3);
  --header-shading: rgba(255,255,255,0.5);
  --hover-filter: rgba(255,255,255,0.2);
  --active-filter: rgba(255,255,255,0.4);
  --HSL-server-icon-size: 40px;
  --HSL-server-spacing: 10px;
  --HSL-server-direction: column;
  --update-notice-dec23: none; /* Debug; please do not touch */
}

/* Any custom CSS below here */


